<section class="viewpost__wrap">
  <figure class="viewpost__media">
    <img
      src="https://datxe24h.online/assets/image/thumb/post/post03.jpg"
      alt="Grab Bến Lức Long An"
      class="viewpost__thumb"
      loading="lazy"
    />
  </figure>
  <h3 class="viewpost__title">
    <a href="https://datxe24h.online/post/grab-ben-luc"
      >Grab Bến Lức Long An - Dịch vụ đặt xe máy , taxi , giao hàng 24/7</a
    >
  </h3>
  <p class="viewpost__desc">
    Grab Bến Lức Long An - Dịch vụ tư vấn khách hàng , tham khảo giá cước , đặt
    trước chuyến đi ,thông tin khuyến mãi .Dịch vụ đặt xe trực tuyến 24/7,mang
    đến trải nghiệm an toàn chất lượng.
  </p>
  <a
    class="viewpost__btn btn--rounded btn btn--primary"
    href="https://datxe24h.online/post/grab-ben-luc"
    >Đọc Bài Viết</a
  >
</section>
