<div class="container">
  <div class="footer__row">
    <!-- <div class="footer__col">
      <h3 class="footer__heading">Bài Viết</h3>
      <ul class="footer__list">
        <li>
          <a
            target="_blank"
            href="https://datxe24h.online/post/grabbaclieu"
            class="footer__link"
            >Grab Bạc Liêu</a
          >
        </li>
        <li>
          <a
            href="https://datxe24h.online/post/grab-an-giang"
            class="footer__link"
            >Grab An Giang</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://datxe24h.online/post/grab-binh-phuoc"
            class="footer__link"
            >Grab Bình Phước</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://datxe24h.online/post/grab-long-an"
            class="footer__link"
            >Grab Long An</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://datxe24h.online/post/grab-sai-gon"
            class="footer__link"
            >Grab Sài Gòn</a
          >
        </li>
      </ul>
    </div> -->
    <div class="footer__col">
      <h3 class="footer__heading">help</h3>
      <ul class="footer__list">
        <li>
          <a
            target="_blank"
            rel="nofollow"
            href="https://grab.com.vn"
            class="footer__link"
            >Contact Us</a
          >
        </li>
        <li>
          <a
            target="_blank"
            rel="nofollow"
            href="https://grab.com.vn"
            class="footer__link"
            >FAQ</a
          >
        </li>
        <li>
          <a href="tel:0393018302" class="footer__link">Design by Tao Nguyen</a>
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <h3 class="footer__heading">Thông Tin Liên Hệ</h3>
      <ul class="footer__list">
        <li>
          <a href="tel:0859322813" class="footer__link"
            >Hotline: 0859 322 813</a
          >
        </li>
        <li>
          <a href="#!" class="footer__link">
            Adress : 681/25 bui văn hoa street,bien hoa city ,Đong Nai,VietNam
            country
          </a>
        </li>
        <li>
          <a target="_blank" href="http://datxe24h.online" class="footer__link"
            >website:DATXE24H.online</a
          >
        </li>
        <li>
          <a href="mailto:nguyenhuutao07@gmail.com" class="footer__link"
            >Email:nguyenhuutao07@gmail.com</a
          >
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <div class="footer__logo">
        <a href="/" class="logo d-flex">
          <img
            src="https://datxe24h.online/assets/image/icon/LOGO.svg"
            alt="LOGO"
            class="logo__icon"
          />
          <h2 class="logo__title">
            <a target="_blank" href="http://datxe24h.online">DATXE24H</a>
          </h2>
        </a>
      </div>
      <form action="" class="footer__form">
        <div class="footer__form-email">
          <input
            type="email"
            class="footer__form-input btn--rounded btn"
            placeholder="Email Adress"
          />
          <button class="footer__form-submit btn--rounded btn btn--primary">
            Send
          </button>
        </div>
        <label for="" class="footer__label"
          >Tiết kiệm 10% khi đặt trước khứ hồi</label
        >
      </form>
      <div class="footer__social">
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.facebook.com"
          class="footer__social-link"
        >
          <img
            src="https://datxe24h.online/assets/image/icon/facebook.png"
            alt=""
            class="footer__social-icon"
            loading="lazy"
          />
        </a>
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.tiktok.com"
          class="footer__social-link"
        >
          <img
            src="https://datxe24h.online/assets/image/icon/tiktok.png"
            alt=""
            class="footer__social-icon"
            loading="lazy"
          />
        </a>
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.linkedin.com"
          class="footer__social-link"
        >
          <img
            src="https://datxe24h.online/assets/image/icon/linkedin.png"
            alt=""
            class="footer__social-icon"
            loading="lazy"
          />
        </a>
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.instagram.com"
          class="footer__social-link"
        >
          <img
            src="https://datxe24h.online/assets/image/icon/instagram.png"
            alt=""
            class="footer__social-icon"
            loading="lazy"
          />
        </a>
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.twitter.com"
          class="footer__social-link"
        >
          <img
            src="https://datxe24h.online/assets/image/icon/twitter.png"
            alt=""
            class="footer__social-icon"
            loading="lazy"
          />
        </a>
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.youtube.com"
          class="footer__social-link"
        >
          <img
            src="https://datxe24h.online/assets/image/icon/youtube.png"
            alt=""
            class="footer__social-icon"
            loading="lazy"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__coppyright">
      © 2010 - 2025 DATXE24H . All rights reserved.
    </p>
  </div>
</div>
